spring:
  application:
    name: discodeit
  profiles:
    active: dev # 기본값 dev 프로필 활성화
  jpa:
    open-in-view: false
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always # 항상 스키마 초기화 스크립트 실행
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, loggers
  info:
    env:
      enabled: true # info


# 커스텀
discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit-files

info:
  application:
    name: Discodeit
    version: 1.7.0
  java:
    version: 17
  spring-boot:
    version: 3.4.0
  settings:
    datasource:
      url: ${spring.datasource.url}
      driver-class-name: ${spring.datasource.driver-class-name}
    jpa:
      ddl-auto: ${spring.jpa.hibernate.ddl-auto}
    storage:
      type: ${discodeit.storage.type}
      path: ${discodeit.storage.local.root-path}
    multipart:
      max-file-size: ${spring.servlet.multipart.max-file-size}
      max-request-size: ${spring.servlet.multipart.max-request-size}