spring:
  application:
    name: discodeit
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    open-in-view: false
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always

discodeit:
  repository:
    type: file # RepoProps.TYPE_JCF | RepoProps.TYPE_FILE
    file-directory: .discodeit # RepoProps.FILE_DIRECTORY_DEFAULT
  storage:
    type: local
    local:
      root-path: .discodeit-files